version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: digi-dopler-frontend
    ports:
      - "5173:4173"   # Host:Container port mapping
    restart: unless-stopped
